@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* 
===================
     css reset
===================
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 /* 
===================
     variables
===================
 */

:root {
 --ff-main :'Merriweather', serif;
 --clr-font-black:#393939;
 --clr-btn-black:#333333;
 --font-light-black:#898787;
}


 /* 
===================
     css shorts
===================
 */
 .mb-1 {
     margin-bottom: 1rem;
 }

 /* 
===================
     left side img
===================
 */

 .left-bg-img {
     background: url(../images/left-bg.jpg);
     position: absolute;
     min-height: 112.4vh;
     width: 28rem;
     background-size: cover;
     background-position: center;
     left: -1.6rem;
     background-repeat: no-repeat;
     z-index: -1;
 }

.width-img{
     width: 20rem;
}
  /* 
===================
    navbar
===================
 */

 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 3rem ;
 }

 .logo-img {
     width: 6rem;
 }

 nav ul {
     list-style-type: none;
     display: flex;
 }

 ul li {
     margin: 0rem 2rem;
     color: var(--font-light-black);
     font-size: 1rem;
 }

 .nav-right {
     display: flex;
     position: relative;
     margin-right: 1.5rem;
 }

 .line {
     width: 20rem;
     height: 1.5px;
     background-color: var(--clr-btn-black);
     top: 0.7rem;
     left:-20rem;
     position: absolute
 }

 main {
     position: absolute;
     left: 29rem;
     top: 5rem;

 }
 .creativiey {
     position: relative;
 }

 h1, h1 span {
     font-family: var(--ff-main);
     color: var(--font-light-black);
     
 }

 .up {
     font-size: 6.5rem;
     font-weight: 900;
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke-width: 1px;
 }
 
 .down {
     font-size: 8rem;
     font-weight: 900;
     margin-left: 7rem;
     position: absolute;
     top: 6rem;
     color: var(--clr-font-black);
 }
 .para {
      position: relative;
      left: 33rem;
      font-size: 1.5rem;
      font-weight: 300;
      top: 1.5rem;
      display: flex;
 }
 /* 
 ==================
 Social icon left
 =====================
  */

 .social-icons {
     display: flex;
     flex-direction: column;
     position: absolute;
     right: -30rem;
     top: 2rem;

 }
 .social-icons img {
     height: 1.2rem;
     margin: 1rem 0;
 }

 .after-nav {
     display: flex;
    justify-content: space-between;
 }

 /* 
 ==================
 check our pakage button
 ======================
  */
  .button{
     position: relative;
  }

  .btn {
     display: block;
     position: absolute;
     right: -30rem;
     top: 4rem;
     padding: 1rem 4.2rem;
     color: white;
     background-color: var(--clr-btn-black);
     border: none;
     font-weight: bold;
  }

   /* 
 ==========================
   last section bottom part
 ============================
  */
  .last-section {
     margin-top: 12rem;
     margin-left: 2rem;
     display: flex;
  }

  .skills ul li {
     list-style-type: none;
     margin: 1rem;
     font-size: 1.2rem;
     color: var(--font-light-black);
  }

  .skills ul li::before {
     content: "";
     position:absolute;
     height: 0.7rem;
     width: 0.7rem;
     background-color: var(--font-light-black);
     background-size: 1rem;
     border-radius: 50%;
     left: 10px;
     margin-top: 8px;
  }
  .skills ul::before {
     content: "";
     position:absolute;
     height: 15.6rem;
     width: 2px;
     background-color: var(--font-light-black);
     background-size: 1rem;
     left: 15px;
     margin-top: 8px;
  }

 .font-clr-black {
     color: var(--clr-font-black);
 }

 .part-2 {
     position: relative;  
}

 .part-2 img {
     right: -30rem;
    width: 20rem;
    position: absolute;
    bottom: -33px;
 }

 .quote {
     position: absolute;
     font-weight: 900;
     font-size: 3rem;
     top: -30px;
     right: -200px;
 }

.our-para{
     width: 22rem;
     position: absolute;
     z-index: 2;
     top: 17px;
     left: 165px;
     font-size: 0.9rem;
}

.down-arrow {
     font-weight: 200;
    font-size: 10rem;
    position: absolute;
    right: -32rem;
}
